<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an article and share your experience</title>
</head>
<form action="/create" method="POST">
    <label for="Title" >Title of your article</label>
    <input type="text" id="Title" name="Title">
    <label for="Author" >Author of your article</label>
    <input type="text" id="Author" name="Author">
    <label for="Summary" >Summary of your article</label>
    <input type="text" id="Summary" name="Summary">
    <label for="Content" >Share your experience</label>
    <input type="text" id="Content" name="Content">
    <button type="submit">Submit</button>
</form>
<body>
    
</body>
</html>