<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
</head>
<body>
    <form action="/admin/article/edit?={{.ID}}" method="POST">
        <input type="text" name="Title" value="{{.Title}}">
        <input type="text" name="Author" value="{{.Author}}">
        <textarea name="Summary">{{.Summary}}</textarea>
        <textarea name="Content" >{{.Content}}</textarea>
        <button type="submit">Save changes</button>
    </form>
</body>
</html>