<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
</head>
<body>
    <form action="/admin/article/edit?id={{.ID}}" method="POST">
        <label for="Title">Title</label>
        <input type="text" name="Title" value="{{.Title}}" id="Title">
        <label for="Author">Author</label>
        <input type="text" name="Author" value="{{.Author}}" id="Author">
        <label for="summary">Summary</label>
<textarea id="summary" name="Summary">{{.Summary}}</textarea>

<label for="content">Content</label>
<textarea id="content" name="Content">{{.Content}}</textarea>
        <button type="submit">Save changes</button>
    </form>
</body>
</html>